---
---

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #FFDC9C;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 90%;
    height: 100%;

    path {
        fill: #F78492;
    }
}