---
---

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(/assets/img/splash-bg.jpg) center no-repeat;
    background-size: cover;
}

.logo {
    width: 90%;
    max-width: 1000px;

    path {
        fill: #F06278;
    }
}